<h1>Employees</h1>

<p><%= @employee.full_name%></p>
<p><%= @employee.alias%></p>
<p><%= @employee.title%></p>
<p><%= @employee.office%></p>
<img src="<%= @employee.img_url%>" alt="<%= @employee.img_url%>">
<h2>My Dog</h2>
<%= link_to @employee.dog.name, dog_path(@employee.dog) %>
<br>
<p><%= link_to "Back to all employees", employees_path %></p>