<h1><%= @dog.name %></h1>
<p>Breed: <%= @dog.breed %></p>
<p>Age: <%= @dog.age %></p>
<h2>My Employees</h2>
<% @dog.employees.each do |employee| %>
    <div><%= link_to employee.full_name, employee_path(employee) %></div>
<% end %>
<br>
<p><%= link_to "Back to Dogs", dogs_path %></p>


